mixin pagination(start, numPages, curr, skip, base)
  - start     = parseInt(start)    || 0
  - numPages  = parseInt(numPages) || 10
  - curr      = parseInt(curr)     || 0
  - skip      = parseInt(skip)     || 0
  - jump      = 0
  - base      = base               || ''
  nav(class="pagination is-small is-centered" role="navigation" aria-label="pagination")
    ul(class="pagination-list")
      - if(curr === 0)
        li
          span(class="pagination-link" disabled) <<
      - else
        li
          a(class="pagination-link" href=base) <<
      - for(var i=start;i<start+numPages;i++) {
        - if(jump === curr)
          li
            a(class="pagination-link is-current" href=base + '/' + jump) #{i + 1}
        - else if(i === 0)
          li
            a(class="pagination-link" href=base) #{i + 1}
        - else
          li
            a(class="pagination-link" href=base + '/' + jump) #{i + 1}
        - jump += skip
      - }
      - if(curr === jump - skip)
        li
          span(class="pagination-link" disabled) >>
      - else
        - var lastCurr = jump - skip
        li
          a(class="pagination-link" href=base + '/' + lastCurr) >>