extends layout
block content
  section(class="section")
    div(class="container")
      if !post
        div(class="has-text-centered")
          i(class="fas fa-spinner fa-spin fa-lg fa-fw") 
          span(class="sr-only") Loading...
      if post
      div
        if post.postImage
          figure(class="image boxRide post-boxRide")
            img(class="main-image" src="https://" + xbData.xbUrl + "/client/" + xbData.xbUser + "/" + xbData.xbProject + "/?type=media&request=" + post.postImage + "&appid=" + xbData.xbAppID + "&size=large")
            div(class="is-overlay")
              span(class="title post-title is-size-5-touch is-size-1-desktop is-pulled-right") #{post.postTitle}
        else
          figure(class="image boxRide post-boxRide")
            img(class="main-image" src="/images/codingRide.png")
            div(class="is-overlay")
              span(class="title post-title is-size-5-touch is-size-1-widescreen") #{post.postTitle}
        if post.postBrief
          p(class="shorty")
            span(class="subtitle post-subtitle is-size-7-touch is-size-4-widescreen") #{post.postBrief}
        div(class="section post-section")
          p(class="is-pulled-left has-text-primary")
            small #{tools.timeToDate(post.postDate)}
          p(class="is-pulled-right")
            span(class="icon social-icon")
              a(class="has-text-primary" href="https://twitter.com/intent/tweet?text=" + post.postTitle + "&url=" + globalUrl + "/post/" + post.postLink + "&via=codingride")
                i(class="fab fa-lg fa-twitter")
            span(class="icon social-icon")
              a(class="has-text-primary fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=" + globalUrl + "/posts/show/" + post.postLink)
                i(class="fab fa-lg fa-facebook")
            span(class="icon social-icon")
              a(class="has-text-primary" href="https://plus.google.com/share?url=" + globalUrl + "/posts/" + post.postLink onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;")
                i(class="fab fa-lg fa-google-plus-g")
            span(class="icon social-icon")
              a(class="has-text-primary" href="https://twitter.com/intent/tweet?text=" + post.title + "&url=" + globalUrl + "/posts/" + post.postLink + "&via=codingride")
                i(class="fas fa-lg fa-comment")
        if post.postContent
          div(id="post-content" class="content post-content")
            p !{post.postContent}
        if post.postTags.length > 0
          div(class="footy")
            div(class="tags")
              each val, key in post.postTags
                a(href="/posts/tag/" + val.tag_link class="tag is-info is-medium") #{val.tag_name}
        p(class="subtitle listHead")
          strong Let's Hear From You
        div(id="disqus_thread")
        script(src="/js/disqus.js")