extends layout
block content
  section(class="section")
    div(class="container")
      if !posts
        div(class="has-text-centered")
          i(class="fas fa-spinner fa-spin fa-lg fa-fw") 
          span(class="sr-only") Loading...
      if posts
        div(class="grid" id="posts-grid")
          each post, key in posts
            div(class="grid-item")
              div(class="card boxRide")
                div(class="card-image")
                  figure(class="image")
                    if post.postImage
                      a(href="/" + post.postLink)
                        img(src="https://" + xbData.xbUrl + "/v1/client/" + xbData.xbUser + "/" + xbData.xbProject + "/?type=media&request=" + post.postImage + "&appid=" + xbData.xbAppID + "&size=medium")
                    else
                      a(heref="/" + post.postLink)
                        img(src="/images/codingRide.png")
                div(class="card-content")
                  div(class="content")
                    p
                      a(href="/" + post.postLink class="title posts-title is-size-4-touch is-size-3-widescreen") #{post.postTitle}
                    small #{tools.timeToDate(post.postDate)}
  if pagination.pages > 0
    section(class="section")
        include pagination.pug
        +pagination(0, `${pagination.pages}`, `${pagination.offset}`, `${xbData.xbMaxRecords}`, `${pagination.link}`)