extends layout
block content
  section(class="section post-section")
    div(class="container")
      if !post
        div(class="has-text-centered")
          i(class="fas fa-spinner fa-spin fa-lg fa-fw") 
          span(class="sr-only") Loading...
      if post
      div
        if post.postImage
          figure(class="image boxRide post-boxRide")
            a(class="card-footer-item" href="/posts/show/" + post.postLink)
              img(class="main-image" src="https://" + xbData.xbUrl + "/client/" + xbData.xbUser + "/" + xbData.xbProject + "/?type=media&request=" + post.postImage + "&appid=" + xbData.xbAppID + "&size=large")
            div(class="is-overlay")
              span(class="title post-title is-size-5-touch is-size-1-widescreen is-pulled-right") #{post.postTitle}
        else
          div
            span(class="title post-title is-size-5-touch is-size-1-widescreen") #{post.postTitle}
        if post.postBrief
          p(class="shorty")
            span(class="subtitle post-subtitle is-size-7-touch is-size-4-widescreen") #{post.postBrief}
        div(class="section post-section")
          if post.postOwner
            div(class="level")
              p(class="is-pulled-left has-text-primary") #{post.postOwner}
                br
                small #{post.postDate}
              p(class="is-pulled-right")
                a(class="has-text-primary" href="https://twitter.com/intent/tweet?text=" + post.postTitle + "&url=" + globalUrl + "/post/" + post.postLink + "&via=codingride")
                  span(class="icon")
                    i(class="fab fa-lg fa-twitter")
                a(class="has-text-primary fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=" + globalUrl + "/posts/show/" + post.postLink)
                  span(class="icon")
                    i(class="fab fa-lg fa-facebook")
                a(class="has-text-primary" href="https://plus.google.com/share?url=" + globalUrl + "/posts/" + post.postLink onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;")
                  span(class="icon")
                    i(class="fab fa-lg fa-google-plus-g")
                a(class="has-text-primary" href="https://twitter.com/intent/tweet?text=" + post.title + "&url=" + globalUrl + "/posts/" + post.postLink + "&via=codingride")
                  span(class="icon")
                    i(class="fas fa-lg fa-comment")
          if post.postContent
            div(id="post-content" class="content post-content")
              p !{post.postContent}
          if post.postTags.length > 0
            div(class="footy")
              p Filed under:
              div(class="tags")
                each val, key in post.postTags
                  a(href="/posts/tag/" + val.tag_name class="tag is-info is-medium") #{val.tag_name}
            //- replace with include <cr-comments v-if="id" :id="id"></cr-comments>
            //- replace with fancybox <cr-gallery :gallery="gallery" :selected="selected"></cr-gallery>